.background-dark{
-fx-background-color:#181818;
}

.leftside-panel{
-fx-background-color:#00468D;
}

.top-panel{
    -fx-background-color: #282828;
}

.dashboard{
-fx-background-color:#181818;
-fx-background-radius:15px;
}

.weather-panel{
-fx-background-color:#292929;
-fx-background-radius:15px;
}

.sidebar-buttons{
-fx-background-color:#00468D;
}
.sidebar-buttons:hover{
-fx-background-color:#0f96fc;
}

.signout-button{
-fx-background-color:#00a6ff;
-fx-background-radius:15px;
}







.year-month-view{
    -fx-foreground-color:#00468D;
}

.current-date-label{
-fx-text-fill:#ffffff;
}

.current-date-border{
-fx-text-fill:#ffffff;
}

.month-label{
-fx-text-fill:#ffffff;
}

.year-label{
-fx-text-fill:#ffffff;
}

.day-of-month-label{
-fx-text-fill:#000000;
}

.day-of-week-label{
-fx-text-fill:#ffffff;
}



